#magnets(style="display: none;")
  img(src="/images/pbr.png", id="pbr")
  img(src="/images/travolta.png", id="travolta")
  img(src="/images/drawing.png", id="drawing")
  img(src="/images/communism.png", id="communism")
  img(src="/images/foraker-logo.png", id="foraker-logo")
  img(src="/images/polaroid.png", id="polaroid")
  img(src="/images/stark.png", id="stark")

#legend
  span#position &nbsp;

#words

.handle Handle